body {
    font-family: 'Handlee', cursive;
    background-image: url("../images/background_dna.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
};
